---
- name: Check if AWS CLI is installed
  command: which aws
  register: aws_cli_exists
  ignore_errors: yes
  changed_when: false

- name: Install AWS CLI
  when: aws_cli_exists.rc != 0
  shell: |
    curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "/tmp/awscliv2.zip"
    unzip -o /tmp/awscliv2.zip -d /tmp
    /tmp/aws/install --update
    rm -rf /tmp/awscliv2.zip /tmp/aws
