---
- name: Deploy Freights Management App
  hosts: all
  become: yes
  vars:
    ecr_uri: "487409145731.dkr.ecr.us-east-1.amazonaws.com"
    db_string: "mongodb+srv://theenkabandara:test1234@cluster0.rdjc9.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
    backend_pass: "parcel@2025"
    backend_jwt: "parcel12345"

  tasks:
    - name: 1. Install Dependencies (Python Pip)
      apt:
        name: python3-pip
        state: present
        update_cache: yes

    - name: 2. Install Docker Python Library
      pip:
        name: docker
        state: present

    - name: 3. Login to AWS ECR
      community.docker.docker_login:
        registry_url: "{{ ecr_uri }}"
        username: AWS
        password: "{{ ecr_password }}"

    - name: 4. Create Docker Network
      community.docker.docker_network:
        name: freights-net
        state: present

    - name: 5. Pull latest images
      community.docker.docker_image:
        name: "{{ item }}"
        source: pull
      loop:
        - "{{ ecr_uri }}/freights-management-app:latest"
        - "{{ ecr_uri }}/freights-management-frontend:latest"
        - "{{ ecr_uri }}/freights-management-admin:latest"
        - "{{ ecr_uri }}/freights-management-background:latest"

    - name: 6. Stop and remove old containers (if any)
      community.docker.docker_container:
        name: "{{ item }}"
        state: absent
      loop:
        - backend
        - frontend
        - admin
        - background

    - name: 7. Start Backend Container
      community.docker.docker_container:
        name: backend
        image: "{{ ecr_uri }}/freights-management-app:latest"
        state: started
        restart_policy: unless-stopped
        network_mode: freights-net
        ports:
          - "8000:8000"
        env:
          DB: "{{ db_string }}"
          PORT: "8000"
          PASS: "{{ backend_pass }}"
          JWT_SEC: "{{ backend_jwt }}"

    - name: 8. Start Frontend Container
      community.docker.docker_container:
        name: frontend
        image: "{{ ecr_uri }}/freights-management-frontend:latest"
        state: started
        restart_policy: unless-stopped
        network_mode: freights-net
        ports:
          - "80:80"

    - name: 9. Start Admin Container
      community.docker.docker_container:
        name: admin
        image: "{{ ecr_uri }}/freights-management-admin:latest"
        state: started
        restart_policy: unless-stopped
        network_mode: freights-net
        ports:
          - "3000:80"

    - name: 10. Start Background Container
      community.docker.docker_container:
        name: background
        image: "{{ ecr_uri }}/freights-management-background:latest"
        state: started
        restart_policy: unless-stopped
        network_mode: freights-net
        env:
          DB: "{{ db_string }}"
